h1{
	padding: 15px;
	color: brown;
	margin: 15px;
	border: 3px solid #000;
}

h2:hover{
	font-size: 250px;
	color: darkslateblue;
}

.contenedor{
	background: #000;
}

.izquierda{
	background-color: aqua;
	width: 25%;
	position: absolute;
	text-align: left;
}

.centrado{
	background-color: aqua;
	width: 25%;
	position: absolute;
	text-align: left;
	
}

.derecha{
	background-color: aqua;
	width: 25%;
	position: absolute;
	text-align: left;
	
}


